@import 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $primary-font;
}

// Background
.bg-blue-light {
  background-color: $blue-light-color;
}
// custom andt-design

  .ant-menu-item-only-child{
     padding-right: 10px;
  }
