$header-height: 6rem;
$color-grey-900: var(--color-grey-900);
$color-white: white;
$color-black: black;
$color-bg-hover: #edeef0;
$color-bg-dropdown: #f9f9f9;
$color-button-bg: #4f46e5;
$border-radius: 10px;
$transition-duration: 0.3s;

.header {
  width: 100%;
  height: $header-height;
  background-color: $color-grey-900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  .btt-search {
    width: 320px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid $color-black;
    .search-form {
      display: flex;  
      flex-direction: row;
      text-align: center;
      margin-left: 10px;
    }
    input {
      width: 85%;
      float: left;
    }
    span {
      width: 25%;
      text-align: center;
      padding-top: 2px;
    }
  }
 
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 2.5rem;
    border-radius: $border-radius;
    background-color: $color-button-bg;
    color: $color-white;
  }

  @media (min-width: 768px) {
    ul {
      gap: 0.5rem;
    }

    a {
      font-size: var(--size-5);
    }
  }
}
